<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style media="screen">
	.footer{
		height: 50px;
		padding-top: 1%;
		background-color: #00ffbc;
		text-align: center;
		margin-bottom: 2%;
		margin-top: 10%;
	}
	.header{
		background-color: #00ffbc;
		height: 150px;
		font-size: 28px;
	}
</style>
<body>
	<div class="header">
	<div style="padding-top:3%; text-align:center;">Welcome to BlogSpot!!</div></div>
	{% block content %}
	{% endblock%}
	<div class="footer">
		All Copyrights&copy; reserved. Himanshu Dhanwant</div>
</body>
</html>
