<html>
<head><title> ASCII chan
  </title>
</head>
<body bgcolor="">
    <a href="/blogPage"><div class="" style="display:block;">
      My Blogs
    </div></a>
    <form action="" method="post">
      <label>
        <div class="tit" >Title </div>
        <input type="text" name="title" value="{{title}}">
      </label>
      <label>
        <div class="body">Value </div>
        <textarea name="blog" rows="8" cols="80" value="{{blog}}">
        </textarea>
      </label>
      <div class="err">{{error}}</div>
      <br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>
